<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright 2017-2018 549477611@qq.com(xiaoyu)
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd

        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
       default-autowire="byName">

    <!--扫描框架的包-->
    <context:component-scan base-package="com.hmily.tcc.*"/>

    <!-- Aspect 切面配置，是否开启AOP切面-->
    <aop:aspectj-autoproxy expose-proxy="true"/>

    <!--启动类属性配置-->
    <bean id="hmilyTransactionBootstrap" class="com.hmily.tcc.core.bootstrap.HmilyTransactionBootstrap">
        <!--数据保存序列化方式  spi扩展支持 java kroy，hessian protostuff 推荐使用kroy-->
        <property name="serializer" value="kryo"/>
        <!--事务延迟多少时间恢复，单位秒-->
        <property name="recoverDelayTime" value="120"/>
        <!--事务执行失败最大重试次数-->
        <property name="retryMax" value="30"/>
        <!--调度线程池间隔时间 单位秒-->
        <property name="scheduledDelay" value="120"/>
        <!--调度线程池最大线程数-->
        <property name="scheduledThreadMax" value="4"/>
        <!--配置补偿类型为db-->
        <property name="repositorySupport" value="db"/>
        <property name="tccDbConfig">
            <bean class="com.hmily.tcc.common.config.TccDbConfig">
                <property name="url"
                          value="jdbc:mysql://127.0.0.1:3306/tcc?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </bean>
        </property>
    </bean>

    <!--
       <property name="repositorySupport" value="db" />
        <property name="tccDbConfig">
            <bean class="com.hmily.tcc.common.config.TccDbConfig">
                <property name="url"
                          value="jdbc:mysql://192.168.1.68:3306/tcc?useUnicode=true&amp;characterEncoding=utf8"/>
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="password" value="Wgj@555888"/>
                <property name="username" value="xiaoyu"/>
            </bean>
        </property>


       <property name="repositorySupport" value="redis" />
        <property name="tccRedisConfig">
            <bean class="com.hmily.tcc.common.config.TccRedisConfig">
                <property name="hostName"
                          value="192.168.1.68"/>
                <property name="port" value="6379"/>
                <property name="password" value=""/>
            </bean>
        </property>

        <property name="repositorySupport" value="zookeeper"/>
        <property name="tccZookeeperConfig">
            <bean class="com.hmily.tcc.common.config.TccZookeeperConfig">
                <property name="host"  value="192.168.1.73:2181"/>
                <property name="sessionTimeOut" value="100000"/>
                <property name="rootPath" value="/tcc"/>
            </bean>
        </property>


       <property name="repositorySupport" value="mongodb"/>
        <property name="tccMongoConfig">
            <bean class="com.hmily.tcc.common.config.TccMongoConfig">
                <property name="mongoDbUrl"  value="192.168.1.68:27017"/>
                <property name="mongoDbName" value="happylife"/>
                <property name="mongoUserName" value="xiaoyu"/>
                <property name="mongoUserPwd" value="123456"/>
            </bean>
        </property>


        <property name="repositorySupport" value="file"/>
        <property name="tccFileConfig">
            <bean class="com.hmily.tcc.common.config.TccFileConfig">
                <property name="path"  value="/account"/>
                <property name="prefix" value="account"/>
            </bean>
        </property>


     -->

</beans>
